xc_api_url      = "https://your_xc-cloud_api_url.console.ves.volterra.io/api"
xc_api_p12_file = "./api-certificate.p12"
aws_access_key  = "your_aws_access_key"
aws_secret_key  = "your_aws_secret_key"
